 body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
 }

 a {
   text-decoration: none;
 }

 .container {
    max-width: 935px;
    display: grid;
    grid-template-columns: 1fr 350px;
    column-gap: 34px;
    margin: 14px 130px;
    justify-content: center;

 }

 .pitch{
    height: 618px;
    background: url('./images/phone.png') no-repeat right
 }

 .form{
   margin-top: 32px;
   text-align: center;

    form{
      margin-bottom: 10px;
        border: 1px solid rgb(219, 219, 219);
        background-color: #fff;
        padding: 1.25rem 1.5rem;

        .logo{
            margin-bottom: 28px;
            margin-top: 20px;
        }

        input{
            height: 2.25rem;
            font-size: 14px;
            border-radius: 3px;
            color: #262626;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #dbdbdb;
            background-color: #fafafa;
            margin-bottom: 0.25rem;
            padding: 0 0.5rem;
        }

        button{
         width: 100%;
         color: #ffff;
         font-weight: bold;
         appearance: none;
         height: 30px;
         border: 0;
         border-radius: 0.25rem;
         background-color: #0195f6;
         margin-top: 12px;

         &:disabled {
            background-color: #b2dffc;
         }
        }
      
        .separator{
            font-size: 0.8125rem;
            color: #8e8e8e;
            text-transform: uppercase;
            font-weight: bold;
            margin: 1rem 0 1.625rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::before,
            &::after {
               content: '';
               width: 106px;
               height: 1px;
               display: block;
               background-color: #dbdbdb;
            }      
        }

        .login-with-facebook {
         color: #385185;
         font-style: inherit;
         font-weight: bold;
         font-size: 14px;
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0 auto 16px;
         }

         .forgot-password {
            color: #00376b;
            justify-content: center;
            font-size: 12px;
            margin: 20px;
         }
      }   

      .signup {
         border: 1px solid #dbdbdb;
         background-color: #ffff;
         padding: 10px;
         margin-bottom: 22px;

         a{
            font-weight: bold;
            color: #0095f6;
         }
      }

      .get-app {
         p{
            font-size: 16px;
         }

         img {
            margin-top: 4px;
            width: 136px;
         }
      }
   }

.footer{
   color: #8e8e8e;
   font-size: 12px;
   padding-top: 24px;
   text-align: center;
   width: 960px;
   margin: 0 auto 4px;
   padding-bottom: 42px;

   .links {
      margin-bottom: 12px;

      a {
         color: #8e8e8e;
         font-size: 12px;
         display: inline-block;
         margin: 0 8px 10px;
      }
   }
}